@page
@model galerie_projekt.Pages.AlbumListModel

@{
    ViewData["Title"] = "AlbumList";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<h1>AlbumList</h1>

<p>
    <a asp-page="AlbumCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album[0].CreatedAt)
            </th>
            <th>
                Creator
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Album) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td>
                <a asp-page="./AlbumEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./AlbumImages" asp-route-id="@item.Id">View images</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
