@page
@model galerie_projekt.Pages.AlbumImagesModel

@{
    ViewData["Title"] = "AlbumImages";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<div class="container-create">
    <h1>Images in @Html.DisplayFor(p => p.albumname) album</h1>  
</div>


@*<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumImage[0].StoredImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumImage[0].Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumImage[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AlbumImage) {
        <tr>
            <td>
                <img src="@Url.Page("/Index","Thumbnail", new {filename=item.FileId})" class="thumbnail-image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="gallery-image">
@if(Model.AlbumImage.Count > 0)
{
    @foreach(var f in Model.AlbumImage)
{
   
    <div class="img-box">
      <img src="@Url.Page("/Index","Thumbnail", new {filename=f.FileId })" alt="" />
      <div class="transparent-box">
        <div class="caption">
          <p>@f.StoredImage.OriginalName</p>
          <p class="opacity-low">@f.StoredImage.Uploader</p>
          @if(f.StoredImage.IsPublic == true){
              <p class="opacity-low">Public</p>
          }
          else{
              <p class="opacity-low">Private</p>
          }
          <p>@f.Description</p>

          @if(f.AlbumId != Guid.Parse(f.Album.CreatorId))
          {
              <a asp-page-handler="Delete" asp-route-pictureid="@f.FileId" asp-route-albumid="@f.AlbumId">Delete from album</a>
          }
          @if (f.AlbumId == Guid.Parse(f.Album.CreatorId))
          {
              <a asp-page-handler="DeleteAll" asp-route-pictureid="@f.FileId" asp-route-albumid="@f.AlbumId">Delete</a>       
          }
        </div>
      </div> 
    </div>
    
        }
    }
    else
    {
        <h2>There are no images</h2>
    }

</div>
