@page
@model galerie_projekt.Pages.AlbumListModel

@{
    ViewData["Title"] = "AlbumList";
}
<head>
    <link rel="stylesheet" href="~/css/albums.css" asp-append-version="true" />
</head>
<div class="container-create">
    <h1>AlbumList</h1>

    <p>
        <a class="btn" asp-page="AlbumCreate">Create New</a>
    </p>
</div>

@*<table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Album[0].Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Album[0].IsPublic)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Album[0].CreatedAt)
    </th>
    <th>
    Creator
    </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Album) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.IsPublic)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CreatedAt)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Creator.Email)
    </td>
    <td>
    <a asp-page="./AlbumEdit" asp-route-id="@item.Id">Edit</a> |
    <a asp-page="./AlbumImages" asp-route-id="@item.Id">View images</a> |
    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@
<div class="gallery-image">
    @foreach (var f in Model.Album)
    {

        <div class="img-box">
            <div class="transparent-box">
                <div class="caption">
                    @if (f.Id == Guid.Parse(Model.creatorid))
                    {
                        <p>@f.Name album</p>
                        <p class="opacity-low">@f.Creator</p>
                    }
                    else
                    {

                        <form method="post">
                            <div class="form-group">
                                <input asp-for="@f.Name" class="form-control" name="Name" aria-required="true" />
                                @if (f.Name == null)
                                {
                                    <span asp-validation-for="@f.Name" style="color:darkred; font-size:15px;">Name is required</span>
                                }
                            </div>
                            <div class="form-group form-check">
                                <input class="form-check-input" asp-for="@f.IsPublic" name="IsPublic" /> Public album
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn" asp-route-id="@f.Id">Save</button>
                            </div>
                        </form>


                    }

                    @if (f.IsPublic == true)
                    {
                        <p class="opacity-low">Public</p>
                    }
                    else
                    {
                        <p class="opacity-low">Private</p>
                    }
                    <a asp-page="./AlbumImages" asp-route-albumid="@f.Id">View Images</a>
                    @if (f.Id != Guid.Parse(f.CreatorId))
                    {
                        <a asp-page="./ImageSelect" asp-route-id="@f.Id">Add Images</a>
                        <a asp-page-handler="Delete" asp-route-id="@f.Id">Delete</a>
                        <a asp-page="./AlbumImageDelete" asp-route-id="@f.Id">Delete images</a>
                    }
                </div>
            </div>
        </div>

    }
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


