@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

@*<h1>List of stored files</h1>

    @if (Model.Images.Count > 0)
    {
    <table class="table table-striped table-responsive">
    <thead>
    <tr>
    <th>Thumbnail</th>
    <th>Name</th>
    <th>Uploaded at</th>
    <th>Uploader</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var f in Model.Images)
    {
    <tr>
    <td>
    <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" class="thumbnail-image" />
    </td>
    <td>@f.OriginalName</td>
    <td>
    @f.UploadedAt
    </td>
    <td>
    @f.Uploader
    </td>
    <td>
    <a class="btn btn-sm btn-primary" asp-page-handler="download" asp-route-filename="@f.Id">Download</a>
    </td>
    </tr>
    }
    </tbody>
    </table>
    }
    else
    {
    <p>There are no files uploaded yet.</p>
    }*@
<div class="container-create">
    <h1>Newest 12 pictures</h1>
</div>

<div class="gallery-image">
    @if (Model.Images.Count > 0)
    {
        @foreach (var f in Model.Images)
        {

            <div class="img-box">
                <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" alt="" />
                <div class="transparent-box">
                    <div class="caption">
                        <p>@f.OriginalName</p>
                        <p class="opacity-low">@f.Uploader</p>
                        <a asp-page-handler="download" asp-route-filename="@f.Id">Download</a>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="container-create">
            <h2>There are no public images</h2>
        </div>
    }

</div>
<div class="container-create">
    <h1>Public albums</h1>
</div>
<div class="gallery-album">
    @if (Model.Album.Count > 0)
    {
        @foreach (var f in Model.Album)
        {

            <div class="img-box-album">
                <div class="transparent-box-album">
                    <div class="caption-album">
                        <p>@f.Name album</p>
                        <p class="opacity-low">@f.Creator</p>
                        @if (f.IsPublic == true)
                        {
                            <p class="opacity-low">Public</p>
                        }
                        else
                        {
                            <p class="opacity-low">Private</p>
                        }
                        <a asp-page="./AlbumImages" asp-route-albumid="@f.Id">View Images</a>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="container-create">
            <h2>There are no public albums</h2>
        </div>
    }
</div>
